asgiref
async-timeout
chardet
click
click-didyoumean
click-plugins
click-repl
colorama
cron-descriptor
Django
django-crontab
django-jazzmin
django-mathfilters
django-timezone-field
djangorestframework
et-xmlfile
gunicorn
mysqlclient
openpyxl
packaging
pillow
prompt_toolkit
python-crontab
python-dateutil
python-dotenv
reportlab
six
sqlparse
typing_extensions
tzdata
wcwidth
