{% extends "webapp/index.html" %}

{% block home %}

<style>
    

    @media only screen and (max-width: 500px) {
        .gray-box {
            width: 100%;
        }

        .card-bg {
            margin-left: auto;
        }
    }
</style>

    <!-- Hero Start -->
    <div class="container-fluid pt-5 bg-primary hero-header">
        <div class="container pt-5">
            <div class="row g-5 pt-5">
                <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                    <h1 class="display-4 text-white mb-4 animated slideInRight">Platform</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center justify-content-lg-start mb-0">
                            <li class="breadcrumb-item"><a class="text-white" href="{%url 'home'%}">Home</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Platform</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 align-self-end text-center text-lg-end">
                    <img class="img-fluid" src="static/web/mt.png" alt="" style="max-height: 300px;">
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-light py-5">
        <div class="container py-5">
            <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Platform</div>
                <h1 class="mb-4">TRADE CONFIDENTLY WITH OUR MT4 TRADING PLATFORM. ANYWHERE. ANYTIME</h1>
            </div>
            <br>
            <p>
                MetaTrader is the universally popular online trading platform that lets you monitor the markets and trade in real-time. When you trade with us, you trade on one of these two powerful platforms, beloved by traders of all experience levels around the world. MT4 are free to download on PC, Mac, mobile and tablet.


            </p>
            <br>
            {% for p in pf %}

            <div class="row g-4">
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                    <div class="case-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="static/web/dp.png" alt="">
                        <a  href="{{p.desktop_link}}" target="_blank" class="case-overlay text-decoration-none" href="">
                            <small>Desktop Windows Platform</small>
                            <!-- <h5 class="lh-base text-white mb-3">Lorem elitr magna stet eirmod labore amet labore clita
                            </h5> -->
                            <span class="btn btn-square btn-primary"><i class="fa fa-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
                    <div class="case-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="static/web/mobile.png" alt="">
                        <a href="{{p.android_link}}" class="case-overlay text-decoration-none">
                            <small>Android Application</small>
                            <!-- <h5 class="lh-base text-white mb-3">Lorem elitr magna stet eirmod labore amet labore clita
                            </h5> -->
                            <span class="btn btn-square btn-primary"><i class="fa fa-arrow-right"></i></span>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeIn;">
                    <div class="case-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="static/web/iphone.png" alt="">
                        <a href="{{p.ios_link}}" class="case-overlay text-decoration-none">
                            <small>iOS Application</small>
                         
                            <span class="btn btn-square btn-primary"><i class="fa fa-arrow-right"></i></span>
                        </a>
                    </div>
                </div>

            </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}

 